* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    display: flex;
    margin-top: 200px;
    position: relative;
    border: 2px solid black;
}

.box {
    background-color: red;
    width: 400px;
    height: 400px;
}

.title {
    background-color: black;
    width: 400px;
    height: 400px;
    margin-left: 100px;
    position: absolute;
}