* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,li {
    list-style: none;
}

body {
    font-family: sans-serif;
}

nav {
    background-color: #010032;
    padding-top: 50px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.all-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.boxs {
    background-color: darkgray;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding-left: 11px;
    padding-top: 11px;
}

.box {
    background-color: #010032;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.img-nav {
    display: flex;
}

.img-nav h1 {
    margin-left: 5px;
}

.carts {
    display: flex;
}

.li-nav a {
    color: white;
    margin: 0px 10px;
    font-weight: 100;
    text-transform: capitalize;
}

.carts i {
    margin-left: 10px;
}

.nav-text {
    color: white;
    margin-left: 50px;
}

.nav-text h1 {
    font-size: 72px;
    line-height: 75.6px;
}

.nav-text p {
    padding: 20px 0;
}

.input1 input {
    padding: 20px 0px 20px 20px; 
    border-radius: 20px;
    border: none;
}

.input1 i {
    margin-left: -45px;
    color: black;
    font-size: 20px;
}

.trophy  {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
}

.trophy i {
    font-size: 30px;
}

.trophy-text {
    margin-left: 15px;
}

.nav-img img {
    width: 500px;
    /* height: 200px; */
}

.all-texts-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 {
    background: #E5E5E5;
    padding-top: 50px;
}

.tolqin {
    padding-bottom: 50px;
}

.working {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.steve {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-evenly;
    margin-left: -30px;
}

.all-1 i {
    color: #4543E8;
}

.ul1 {
    display: flex;
    justify-content: space-between;
}

.trust-all h1 {
    font-size: 48px;
}

.trust {
    margin-bottom: 55px;
}

.all-1 p {
    line-height: 28px;
    margin-top: 20px;
}

.li1 h1 {
    color: #4543E8;
}

.li1 p {
    font-size: 22px;
}

.img-logo {
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.work-logo {
    display: flex;
}

.work-logo p {
    margin-left: 15px;
    color: #4543E8;
    text-transform: uppercase;
}

.bring-text {
    font-size: 60px;
    margin-top: 20px;
}

.work {
    margin-left: 60px;
}

.bringing-all {
    margin-top: 100px;
}

.imgs-bring {
    align-items: start;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.imgs-bring .img1 {
    width: 400px;
}

.imgs-bring .img2 {
    width: 500px;
}

.imgs1 p {
    font-size: 12px;
    margin-top: 20px;
}

.imgs1 h1 {
    font: 24px;
}

.bitta-img {
    margin: 100px 250px;
}

.bitta-img img {
    width: 700px;
}

.bitta-img h1 {
    margin-top: 20px;
}

.bitta-img p {
    font: 16px;
    margin-top: 20px;
}

.ikkita-img {
    display: flex;
    justify-content: space-around;
}

.otsuka-img img {
    width: 500px;
}

.img-text {
    margin-top: 20px;
    font-size: 24px;
}

.p3 {
    font-size: 12px;
    margin-top: 20px;
}

.origin-img img {
    width: 440px;
}

.kok-box {
    text-transform: uppercase;
    background-color: #4543E8;
    width: 150px;
    color: white;
    padding: 50px 10px;
    text-align: center;
    margin-left: 600px;
    margin-top: -40px;
}

.ikkitayu {
    padding-bottom: 100px;
}

.section2 {
    background: #010032;
    padding: 70px 0;
}

.pushing-all {
    padding-top: 60px;
}

.ul2 {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service {
    display: flex;
}

.service h4 {
    margin-left: 15px;
}

.li2 h1 {
    font-size: 48px;
    margin-top: 20px;
}

.li3 i {
    font-size: 35px;
    padding-bottom: 15px;
}

.li3 h1 {
    font-size: 24px;
}

.li4 h1 {
    font-size: 24px;
}

.li3 p {
    color: #FFFFFF;
    line-height: 28.9px;
    margin-top: 10px;
}

.li4 p {
    color: #FFFFFF;
    line-height: 28.9px;
    margin-top: 10px;
}

.li4 img:hover {
    opacity: .7;
}

.li5 {
    margin-left: 70px;
}

.ul3 {
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 28px;
    margin-top: 70px;
}

.tolqin2 {
    width: 100px;
    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
}

.vector2 {
    margin-left: 90px;
}

.li7 p {
    background-color: white;
    border-radius: 20px;
    width: 200px;
    text-transform: capitalize;
    height: 50px;
    padding-top: 10px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.push {
    padding: 20px 0;
    font-size: 24px;
}

.section3 {
    background-color: #D8D8EB;
    padding-top: 100px;
}

.hear-img-text {
    display: flex;
    margin-left: 350px;
    align-items: center;
}

.hear-img-text p {
    color: #4543E8;
    margin: 0 20px;
    font-size: 24px;
}

.hear-img-text img {
    width: auto;
    width: 100px;
    height: 15px;
}

.hear-text {
    text-align: center;
    margin-top: 30px;
}

.hear-text h1 {
    font-size: 60px;
    line-height: 66px;
}

.box-white {
    background-color: white;
    width: 450px;
    padding: 20px 0px 20px 30px;
    border-radius: 15px 15px 0px 15px;
}

.box-text {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.text-steve {
    margin-left: 20px;
}

.text-steve p {
    margin-top: 8px;
}

.alex-p {
    line-height: 28px;
}

.highly {
    padding: 15px 0;
    font-size: 24px;
}

.twoo-white {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.kok-strelka {
    text-align: center;
    padding: 100px;
}

.kok-strelka i {
    color: blue;
    margin: 0 10px;
    font-size: 25px;
}

.section4 {
    background: #E5E5E5;
    padding-top: 80px;
}

.all-get {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get-h h1 {
    font-size: 60px;
    font-weight: unset;
}

.get-p p {
    line-height: 34px;
    font-size: 22px;
    margin-top: 40px;
}

.rog {
    display: flex;
    align-items: center;
}

.rog img {
    width: 50px;
    height: 10px;
}

.rog h2 {
    margin-left: 10px;
    color: #4543E8;
    text-transform: capitalize;
    font-weight: unset;
}

.flex-1 {
    display: flex;
}

.flex-1 h1 {
    color: #4543E8;
    font-size: 50px;
    font-weight: unset;
}

.flex-1 img {
    margin-left: 55px;
}

.listen {
    padding: 15px 0;
    font-size: 24px;
    margin-top: 20px;
}

.ul-numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.p4 {
    line-height: 30px;
}

.shop-tolqin {
    display: flex;
    margin-left: 450px;
    align-items: center;
    margin-top: 100px;
}

.shop-tolqin img {
    width: 100px;
    height: 12px;
}

.shop-tolqin h3 {
    color: #4543E8;
    margin: 0 10px;
}

.shop-imgs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.shop-img1 img {
    width: 300px;
}

.shop-img1 h2 {
    font: 24px;
    font-weight: unset;
    margin-top: 20px;
    font-weight: 700;
}

.shop-img1 p {
    font-size: 18px;
    font-weight: unset;
    margin-top: 20px;
}

.shop-texts {
    text-align: center;
    padding: 50px 0;
}

.shop-texts h1,p {
    font-weight: unset;
}

.shop-texts h1 {
    font-size: 50px;
}

.shop-texts p {
    font-size: 60px;
}

.products-all {
    margin-top: 100px;
    color: #4543E8;
    display: flex;
    margin-left: 450px;
    align-items: center;
}

.products-all:hover {
    border-bottom: 2px solid #4543E8;
}

.products-all h1 {
    font-weight: unset;
    font-size: 24px;
}

.products-all i {
    margin-left: 20px;
}

.blog-logo {
    display: flex;
    align-items: center;
}

.blog-logo h1 {
    margin-left: 15px;
    color: #4543E8;
    font-weight: unset;
    text-transform: capitalize;
}

.blog-logo img {
    width: 100px;
    height: 10px;
}

.blog-text h1 {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 50px;
    margin-top: 20px;
}

.blog-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-kok {
    display: flex;
    align-items: center;
    background-color: #4543E8;
    width: 230px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.blog-kok i {
    margin-left: 20px;
}