* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,ol {
    list-style: none;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
}